.container--slider {
    position: relative;
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.left-arrow, .right-arrow {
    position: absolute;
    top: -2px;   
    height: 60vh;
    width: 45px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgba( 125, 125, 125, 0.3);
    color: #ffffff;
    font-size: 3rem;
    z-index: 100;
    cursor: pointer;
}
@media screen and (min-width: 768px) {
    .left-arrow, .right-arrow {
        width: 70px;
        padding-right: 20px;
        padding-left: 20px;
    }
}
.left-arrow {
    left: 0;
}
.right-arrow {
    right: 0;
}
.slide-active {
    opacity: 1;
    transition-duration: 1s;
}
.slide {
    opacity: 0;
    transition-duration: 1s ease;
}
.container--slide-data {
    position: relative;
}
.slide--title {
    position: absolute;
    top: 30%;
    left: 15%;
    right: 15%;
    z-index: 100;
    font-weight: 700;
    font-size: 38px;
    color: #ffffff;
}
@media screen and (min-width: 768px) {
    .slide--title {
        left: 10%;
        right: 10%;
        font-size: 52px;
    }
}
.slide--description {
    position: absolute;
    left: 15%;
    top: 60%;
    right: 15%;
    font-size: 18px;
    color: #ffffff;
}
@media screen and (min-width:768px) {
    .slide--description {
        font-size: 24px;
        left: 10%;
        right: 10%;
    }
}
.slide--image {
    width: 100vw;
    height: 60vh;
    object-fit: cover;
}