.contenedor {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.leaflet-container {
    width: 40rem;
    height: 30rem;
}



@media screen and (max-width: 1000px) {
    .leaflet-container {
        width: 30rem;
        height: 30rem;
    }
}

@media screen and (max-width: 700px) {
    .leaflet-container {
        /* width: 20rem; */
        width: 100%;
        height: 20rem;
    }
}