
.no--show {
  position: relative;
  transition: transform 1s;
  transform: translateX(-100%);
  z-index: 1000;
}
.container--icon-hamburger {
  position: relative;
  background-color: #9AC9FB;
  height: 50px;
}
.icon-hamburger {
  position: absolute;
  right: 10px;
  font-size: 45px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .icon-hamburger {
    left: 10px;
  }
}
.container--show-menu {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1000;
  transition: transform 1s;
  transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .container--show-menu, .no--show {
    width: 20%;
    margin-left: 0;
    margin-right: 0;
  }
}
.container--backoffice-links {
  display: flex;
  justify-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  background-color: #FAFA88;
  z-index: 1000;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .container--backoffice-links {
    position: absolute;
    width: 100%;
  }
}
.backoffice-links-menu {
  display: block;
  color: black;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
}
@media screen and (min-width: 768px) {
  .backoffice-links-menu:hover {
    background-color: #9AC9FB;
    color: black;
    transform: scale(1.05);
  }
}
/* .container--logout {

} */
.button--logout {
  width: 100%;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
}