html {
    min-height: 100%;
    position: relative;
  }
  body {
    margin: 0;
    margin-bottom:324px;
  }
.footer {
    text-align: center;
    background-color: #292927;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
}

.footer-navigation {
    
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 2px solid #000;
    
}

.footer-navigation a {
 
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: #9AC9FB;
    
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-top: 10px;
}

.footer-social a {
    text-decoration: none;
    color: black
    
}

.footer svg {
    width: 40px;
    margin: 0 10px;
    
}


 @media (max-width: 650px) {
   .d-none {
      display: none;
   }
 
   .footer-navigation {
       flex-direction: column;
       border-bottom: 1px solid #000;
       margin-top: 10px;
   }
   .footer svg {
    width: 20px;
    margin: 0 10px;
    
    
}

} 