html {
    min-height: 100%;
    position: relative;
  }
  body {
    margin: 0;
    margin-bottom:199px;
  }
.footer {
    text-align: center;
    background-color: #292927;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
}

.logo-somos-mas{
  height: 114px;
}

.logo-somos-mas img{
  width: 180px;
  position: relative;
  margin-top: -27px;
}

.footer-navigation {
    
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 2px solid rgb(14, 13, 13);
    
}

.footer-navigation a {
 
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: #9AC9FB;
    
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 11px;
}

.footer-social a {
    text-decoration: none;
    color:rgb(14, 13, 13);
    
}

.footer svg {
    width: 30px;
    margin: 10px 10px 3px;
    
}


 @media (max-width: 650px) {
   .logo-somos-mas {
      display: none;
   }
 
   .footer-navigation {
       flex-direction: column;
       border-bottom: 1px solid #000;
       margin-top: 10px;
   }
   .footer svg {
    width: 20px;
    margin: 5px 10px;
    
}

.footer-social {
  margin-left: -5px;
}
body{
  margin-bottom:240px
}

} 