.container--organization {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container--organization-data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #000;
    border-radius: 6px;
    margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
    .container--organization-data {
        width: 60%
    }
}
.title-organization {
    font-size: 35px;
    text-align: center;
}
.image-organization {
    width: 100%;
    height: 50vh;
    border-radius: 6px;
    object-fit: cover;
}
.shortDescription-organization {
    font-size: 18px;
}
.link {
    font-size: 24px;
    text-decoration: none;
    color: black;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
    background-color: #2968C8;
    color: white;
    text-align: center;
}
@media screen and (min-width: 768px) {
    .link {
        width: 60%;
    }
}